html{
    font-size: 16px;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 50px 0;
}

a{
    color: #111;
}
a:hover{
    color: #ff8811;
}

/*Header*/
.navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
}

.topmenu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 2px;
    transition: all .3s;
    transform: scale(0);
}

.topmenu li a:hover::after{
    transform: scale(1);
}

.my-carousel {
    padding: 0 ;
}

.my-carousel .carousel-item{
    display: flex;
    max-height: 800px;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}

.product-card{
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);
    transition: all 0.2s;
}
.product-card:hover{
    box-shadow: 0 14px 30px -15px rgba(0,0,0,0.5);
}
.product-thumb a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}
.product-thumb img{
    max-width: 100%;
    max-height: 100%;
}
.product-details{
    padding: 20px;
}

.product-details h4 a{
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}
.product-details p{
    margin-bottom: 18px;
}

.product-bottom-details div {
    padding: 5px 10px;
}
