{% extends "base.html" %}
{% block content %}
<div class="container">
    <form method="post" action="/add">
        <n>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control"
                       placeholder="" value="" required>
            </div>
            <div class="mb-3">
                <label for="input_password" class="form-label">Password</label>
                <input type="text" class="form-control" id="input_password" name="input_password"
                       placeholder="" value="" required>
            </div>
            <button type="submit" class="btn btn-primary">Add user</button>
    </form>
</div>
{% endblock %}
