<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIP-admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    {% block head %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md " style="background-color: #79b1b1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/images/logo_intercom.png" alt="Intercom logo" style="height: 80px">
            </a>
        </div>
    </nav>
    <section class="main-content">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
    <footer style="background-color: #79b1b1;">
        <div class="text-center p-3">
            © SIP-admin
        </div>
    </footer>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>