{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="post" action="/edit">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="{{user_data['name']}}" value="{{user_data['name']}}" readonly>
        </div>
        <div class="mb-3">
            <label for="input_password" class="form-label">Password</label>
            <input type="text" class="form-control" id="input_password" name="input_password"
                   placeholder="{{user_data['secret']}}" value="{{user_data['secret']}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <form method="post" action="/remove">
        <div>
            <input hidden type="text" id="username" name="username" class="form-control"
                   placeholder="{{user_data['name']}}" value="{{user_data['name']}}" readonly>
            <button  type="submit" class="btn btn-danger">Delete user</button>
        </div>
    </form>
</div>
{% endblock %}