{% extends "base.html" %}
{% block content %}
<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Username</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users_list %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><a href="{{ url_for('edit_user_page', username=user['name']) }}"> {{user["name"]}} </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
        <button onclick="location.href = '/add'" class="btn btn-primary" type="button">Add user</button>
    </div>
</div>
{% endblock %}